.vercel
.env*.local

node_modules/
dist/
**/*.mp4
**/*.webm
**/*.mp3
**/*.pdf
**/*.gif
.env*

# EXCEPTIONS - ALLOW THESE TO UPLOAD
!public/assets/images/homepage/brain-wave-master-loop.webm
!public/assets/images/buy now/acquirebg.mp4